<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>firstservlet</servlet-name>
		<servlet-class>com.bjsxt.servlet.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>firstservlet</servlet-name>
		<url-pattern>/f1</url-pattern>
		<url-pattern>/f2</url-pattern>
		<url-pattern>/f3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>secondservlet</servlet-name>
		<servlet-class>com.bjsxt.servlet.SecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>secondservlet</servlet-name>
		<url-pattern>/s1</url-pattern>
		<url-pattern>/s2</url-pattern>
		<url-pattern>/s3</url-pattern>
	</servlet-mapping>
</web-app>