<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

<servlet>
	<servlet-name>one</servlet-name>
	<servlet-class>com.jun.servlet.FirstServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>one</servlet-name>
	<url-pattern>/111</url-pattern>
	<url-pattern>/222</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>two</servlet-name>
	<servlet-class>com.jun.servlet.SecondServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>two</servlet-name>
	<url-pattern>/ttt</url-pattern>
</servlet-mapping>

</web-app>