<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.bjsxt.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/loginSer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>failure</servlet-name>
		<servlet-class>com.bjsxt.servlet.ExitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>failure</servlet-name>
		<url-pattern>/loginFailure</url-pattern>
	</servlet-mapping>
</web-app>
