<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>one</servlet-name>
		<servlet-class>com.bjsxt.servlet.TestLifeCycle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>one</servlet-name>
		<url-pattern>/111</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>two</servlet-name>
		<servlet-class>com.bjsxt.servlet.TestLifeCycle</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>two</servlet-name>
		<url-pattern>/111</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>three</servlet-name>
		<servlet-class>com.bjsxt.servlet.TestDoGetDoPost</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>three</servlet-name>
		<url-pattern>/getpost</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>four</servlet-name>
		<servlet-class>com.bjsxt.servlet.TestDoGetDoPost2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>four</servlet-name>
		<url-pattern>/222</url-pattern>
	</servlet-mapping>
</web-app>